@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

html{
    background-color: #000505;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Arvo', serif;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    max-width: 70%;
    color: #FEFCFD;
}
.primary, .secondary{
    
    text-align: center;
    padding: 1% 0% 1% 0%;
    margin: 1vh;
    background-color: #5D5D81;
    font-family: 'Arvo', serif;
    color: #FEFCFD;
    font-size: 100%;
}
.secondary{
    background-color: #3B3355;  
}
b{
    font-size: 100%;
    float:  left;
    margin-left: 10%;
}
#dictionary{
    font-family: 'Arvo', serif;
    color: #FEFCFD;
}
@media screen and (min-width: 1300px){
    #dictionary{
        position: absolute;
        top: 2%;
        right: 10%;
        max-width: 30%;
    }
}
.origin{
    padding-left: 2%;
}
.definition{
    padding-left: 6%;
    list-style-position: inside;
}
button{
    border-style: none;
    border-radius:28px;
	display:inline-block;
	cursor:pointer;
}
button:hover{
    filter: brightness(120%);
}